version: 2.1

executors:
  default:
    docker:
    - image: rust:1.81.0
  ubuntu:
    machine: true
  ci-builds:
    docker:
    - image: cibuilds/github:0.13

orbs:
  codecov: codecov/codecov@3.2.2

workflows:
  version: 2
  test:
    jobs:
    - contract-price-feed
    - contract-tunnel-consumer
    - package-cw-band
    - lint
    - wasm-build
    - coverage

  deploy:
    jobs:
    - build_and_upload_contracts:
        filters:
          tags:
            only: /^v[0-9]+\.[0-9]+\.[0-9]+.*/
          branches:
            ignore: /.*/
    - build_and_upload_schemas:
        filters:
          tags:
            only: /^v[0-9]+\.[0-9]+\.[0-9]+.*/
          branches:
            ignore: /.*/

jobs:
  contract-price-feed:
    executor: default
    working_directory: ~/project/contracts/price-feed
    steps:
    - checkout:
        path: ~/project
    - run:
        name: Version information
        command: rustc --version; cargo --version; rustup --version
    - restore_cache:
        keys:
        - cargocache-cw1-subkeys-rust:1.81.0-{{ checksum "~/project/Cargo.lock" }}
    - run:
        name: Unit Tests
        environment:
          RUST_BACKTRACE: 1
        command: cargo unit-test --locked
    - run:
        name: Build and run schema generator
        command: cargo schema --locked
    - save_cache:
        paths:
        - /usr/local/cargo/registry
        - target
        key: cargocache-cw1-subkeys-rust:1.81.0-{{ checksum "~/project/Cargo.lock" }}

  contract-tunnel-consumer-ibc:
    executor: default
    working_directory: ~/project/contracts/tunnel-consumer-ibc
    steps:
    - checkout:
        path: ~/project
    - run:
        name: Version information
        command: rustc --version; cargo --version; rustup --version
    - restore_cache:
        keys:
        - cargocache-cw1-subkeys-rust:1.81.0-{{ checksum "~/project/Cargo.lock" }}
    - run:
        name: Unit Tests
        environment:
          RUST_BACKTRACE: 1
        command: cargo unit-test --locked
    - run:
        name: Build and run schema generator
        command: cargo schema --locked
    - save_cache:
        paths:
        - /usr/local/cargo/registry
        - target
        key: cargocache-cw1-subkeys-rust:1.81.0-{{ checksum "~/project/Cargo.lock" }}

  contract-tunnel-consumer-ibc-hook:
    executor: default
    working_directory: ~/project/contracts/tunnel-consumer-ibc-hook
    steps:
    - checkout:
        path: ~/project
    - run:
        name: Version information
        command: rustc --version; cargo --version; rustup --version
    - restore_cache:
        keys:
        - cargocache-cw1-subkeys-rust:1.81.0-{{ checksum "~/project/Cargo.lock" }}
    - run:
        name: Unit Tests
        environment:
          RUST_BACKTRACE: 1
        command: cargo unit-test --locked
    - run:
        name: Build and run schema generator
        command: cargo schema --locked
    - save_cache:
        paths:
        - /usr/local/cargo/registry
        - target
        key: cargocache-cw1-subkeys-rust:1.81.0-{{ checksum "~/project/Cargo.lock" }}

  package-cw-band:
    executor: default
    working_directory: ~/project/packages/cw-band
    steps:
    - checkout:
        path: ~/project
    - run:
        name: Version information
        command: rustc --version; cargo --version; rustup --version; rustup target list --installed
    - restore_cache:
        keys:
        - cargocache-v2-controllers:1.81.0-{{ checksum "~/project/Cargo.lock" }}
    - run:
        name: Build library for native target
        command: cargo build --locked
    - run:
        name: Run unit tests
        command: cargo test --locked
    - save_cache:
        paths:
        - /usr/local/cargo/registry
        - target
        key: cargocache-v2-controllers:1.81.0-{{ checksum "~/project/Cargo.lock" }}

  lint:
    executor: default
    steps:
    - checkout
    - run:
        name: Version information
        command: rustc --version; cargo --version; rustup --version; rustup target list --installed
    - restore_cache:
        keys:
        - cargocache-v2-lint-rust:1.81.0-{{ checksum "Cargo.lock" }}
    - run:
        name: Add rustfmt component
        command: rustup component add rustfmt
    - run:
        name: Add clippy component
        command: rustup component add clippy
    - run:
        name: Check formatting of workspace
        command: cargo fmt -- --check
    - run:
        name: Clippy linting on workspace
        command: cargo clippy --all-targets -- -D warnings
    - save_cache:
        paths:
        - /usr/local/cargo/registry
        - target/debug/.fingerprint
        - target/debug/build
        - target/debug/deps
        key: cargocache-v2-lint-rust:1.81.0-{{ checksum "Cargo.lock" }}

  # This runs one time on the top level to ensure all contracts compile properly into wasm.
  # We don't run the wasm build per contract build, and then reuse a lot of the same dependencies, so this speeds up CI time
  # for all the other tests.
  # We also sanity-check the resultant wasm files.
  wasm-build:
    executor: default
    steps:
    - checkout:
        path: ~/project
    - run:
        name: Version information
        command: rustc --version; cargo --version; rustup --version
    - restore_cache:
        keys:
        - cargocache-wasm-rust:1.81.0-{{ checksum "~/project/Cargo.lock" }}
    - run:
        name: Add wasm32 target
        command: rustup target add wasm32-unknown-unknown
    - run:
        name: Build Wasm Release
        command: |
          for C in ./contracts/*/
          do
            echo "Compiling `basename $C`..."
            (cd $C && cargo build --release --lib --target wasm32-unknown-unknown --locked)
          done
    - run:
        name: Install cosmwasm-check
        # Uses --debug for compilation speed
        command: cargo install --debug --version 2.1.4 cosmwasm-check
    - save_cache:
        paths:
        - /usr/local/cargo/registry
        - target
        key: cargocache-wasm-rust:1.81.0-{{ checksum "~/project/Cargo.lock" }}
    - run:
        name: Check wasm contracts
        command: cosmwasm-check ./target/wasm32-unknown-unknown/release/*.wasm

  coverage:
    # https://circleci.com/developer/images?imageType=machine
    executor: ubuntu
    steps:
    - checkout
    - run:
        name: Run tests with coverage
        command: |
          mkdir -p cov
          docker run --security-opt seccomp=unconfined -v "${PWD}:/volume" xd009642/tarpaulin \
            sh -c "cargo tarpaulin --skip-clean --frozen --out Xml --output-dir cov"
    - codecov/upload:
        file: cov/cobertura.xml

  # This job roughly follows the instructions from https://circleci.com/blog/publishing-to-github-releases-via-circleci/
  build_and_upload_contracts:
    # Image from https://github.com/cibuilds/github, based on alpine
    executor: ci-builds
    steps:
    - run:
        name: Install Docker client
        command: apk add docker-cli
    - setup_remote_docker
    - checkout
    - run:
        # We cannot mount local folders, see https://circleci.com/docs/2.0/building-docker-images/#mounting-folders
        name: Prepare volume with source code
        command: |
          # create a dummy container which will hold a volume with config
          docker create -v /code --name with_code alpine /bin/true
          # copy a config file into this volume
          docker cp Cargo.toml with_code:/code
          docker cp Cargo.lock with_code:/code
          # copy code into this volume
          docker cp ./contracts with_code:/code
          docker cp ./packages with_code:/code
    - run:
        name: Build development contracts
        command: |
          docker run --volumes-from with_code cosmwasm/workspace-optimizer:0.12.8
          docker cp with_code:/code/artifacts ./artifacts
    - run:
        name: Show data
        command: |
          ls -l artifacts
          cat artifacts/checksums.txt
    - run:
        name: Publish artifacts on GitHub
        command: |
          TAG="$CIRCLE_TAG"
          TITLE="$TAG"
          BODY="Attached there are some build artifacts generated at this tag. Those are for development purposes only! Please use crates.io to find the packages of this release."
          ghr -t "$GITHUB_TOKEN" \
            -u "$CIRCLE_PROJECT_USERNAME" -r "$CIRCLE_PROJECT_REPONAME" \
            -c "$CIRCLE_SHA1" \
            -n "$TITLE" -b "$BODY" \
            -replace \
            "$TAG" ./artifacts/

  build_and_upload_schemas:
    executor: default
    working_directory: ~/project
    steps:
    - checkout:
        path: ~/project
    - run:
        name: Create schemas directory
        command: mkdir -p schemas
    - run:
        name: Install ghr
        command: wget https://github.com/tcnksm/ghr/releases/download/v0.14.0/ghr_v0.14.0_linux_amd64.tar.gz -O - | tar -zxvf - -C /usr/local/bin --wildcards --strip-components 1 */ghr
    - run:
        name: Build and run schema generator for packages
        command: |
          for S in ./packages/*/src/bin/schema.rs
          do
            P=$(dirname $S)/../..
            echo "Generating schema for $P ..."
            (cd $P && cargo schema --locked && tar -zcf ~/project/schemas/$(basename $(pwd))_schema.tar.gz ./schema)
          done
    - run:
        name: Build and run schema generator for contracts
        command: |
          for C in ./contracts/*/
          do
            echo "Generating schema for $C ..."
            (cd $C && cargo schema --locked && mv ./schema/*.json ~/project/schemas/)
          done
    - run:
        name: Show data
        command: ls -l ./schemas
    - run:
        name: Publish schemas on GitHub
        command: |
          TAG="$CIRCLE_TAG"
          TITLE="$TAG"
          BODY="Attached there are some schemas and build artifacts generated at this tag. Those are for development purposes only! Please use crates.io to find the packages of this release."
          ghr -t "$GITHUB_TOKEN" \
            -u "$CIRCLE_PROJECT_USERNAME" -r "$CIRCLE_PROJECT_REPONAME" \
            -c "$CIRCLE_SHA1" \
            -n "$TITLE" -b "$BODY" \
            -replace \
            "$TAG" ./schemas/
